#signUp{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .signUp{
    padding: 60px 60px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background: white;
    &--logo{
      display: flex;
      align-items: center;
      &__chercle{
        width: 30px;
        height: 30px;
        background: #1677FF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          width: 15px;
          height: 15px;
          background: white;
          border-radius: 50%;
        }
      }
      h3{
        font-size: 20px;
        font-family:  sans-serif;
        margin-left: 10px;
      }
    }

    h2{
      font-size: 25px;
      font-family:  sans-serif;
      text-align: center;
      margin-top: 10px;
    }
    &--input{
      width: 110%;
      margin-top: 30px;
      height: 35px;
      position: relative;
      display: flex;
      align-items: center;
      input{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 2px solid #686868;
        font-size: 18px;
        transition: 0.5s;
        outline: none;
        text-indent: 30px;
        &:focus{
          border-color: #1677FF;
        }
      }
      div{
        position: absolute;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
      }
    }
    button{
      width: 110%;
      margin-top: 30px;
      height: 37px;
      background: #1677FF;
      border-radius: 5px;
      border: none;
      font-size: 20px;
      color: white;
      cursor: pointer;
    }
    h5{
      font-family: sans-serif;
      margin-top: 20px;
      font-size: 15px;
      color: green;
      cursor: pointer;
    }
  }
  .signUpCode{
    padding: 60px 60px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background: white;
    position: relative;
    &--back{
      position: absolute;
      font-size: 30px;
      top: 30px;
      left: 30px;
    }

    &--logo{
      display: flex;
      align-items: center;
      &__chercle{
        width: 30px;
        height: 30px;
        background: #1677FF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
          width: 15px;
          height: 15px;
          background: white;
          border-radius: 50%;
        }
      }
      h3{
        font-size: 20px;
        font-family:  sans-serif;
        margin-left: 10px;
      }
    }

    h2{
      font-size: 25px;
      font-family:  sans-serif;
      text-align: center;
      margin-top: 10px;
    }
    h3{
      font-size: 15px;
      font-family:  sans-serif;
      text-align: center;
      margin-top: 10px;
      color: #404040;
    }

    .signUpCode--input{
      margin-top: 30px;
    }

    button{
      width: 110%;
      margin-top: 30px;
      height: 37px;
      background: #1677FF;
      border-radius: 5px;
      border: none;
      font-size: 20px;
      color: white;
      cursor: pointer;
    }

    h5{
      font-family: sans-serif;
      margin-top: 20px;
      font-size: 15px;
      color: green;
      cursor: pointer;
    }

  }

  .massage{
    padding: 20px 30px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    transition: 0.3s;
    p{
      font-size:18px;
      font-family:  sans-serif;
      color: #c12121;
      text-align: center;
    }
  }
  .massageSent{
    padding: 20px 30px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    transition: 0.3s;
    p{
      font-size:18px;
      font-family:  sans-serif;
      color: green;
      text-align: center;
    }
  }
}