#hero{
  width: 100%;
  height: 100vh;
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    h1{
      font-size: 45px;
      text-align: center;
      font-family: sans-serif;
      margin-bottom: 30px;
    }
    button{
      width: 300px;
      margin-top: 30px;
      height: 37px;
      background: #1677FF;
      border-radius: 5px;
      border: none;
      font-size: 20px;
      color: white;
      cursor: pointer;
    }
  }

  .content{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      font-size: 35px;
      text-align: center;
      font-family: sans-serif;
      margin-bottom: 30px;
    }
    &--group{
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__block{
        width: 50%;
        padding: 20px 0;
        border: 2px solid black;
        margin-bottom: 10px;
        border-radius: 10px;
        p{
          margin-left: 20px;
          font-size: 22px;
          font-family: sans-serif;
          span{
            font-size: 18px;
            color: green;
          }
        }
      }
    }
  }

  .teh{
    width: 100%;
    padding: 50px 0;
    h2{
      text-align: center;
      font-family: sans-serif;
      font-size: 30px;
    }
    &--info{
      margin-top: 30px;
      p{
        font-family: sans-serif;
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }

  .massage{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    &--block{
      padding: 60px 60px;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      align-items: center;
      background: white;

      h2{
        font-size: 25px;
        font-family:  sans-serif;
        text-align: center;
        margin-bottom: 30px;

      }
      button{
        width: 110%;
        margin-top: 20px;
        height: 37px;
        background: #1677FF;
        border-radius: 5px;
        border: none;
        font-size: 20px;
        color: white;
        cursor: pointer;
      }
    }
  }
}