#noAuth{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .noAuth{
    padding: 60px 60px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background: white;

    h2{
      font-size: 25px;
      font-family:  sans-serif;
      text-align: center;
      margin-top: 10px;
    }

    button{
      width: 110%;
      margin-top: 30px;
      height: 37px;
      background: #1677FF;
      border-radius: 5px;
      border: none;
      font-size: 20px;
      color: white;
      cursor: pointer;
    }
  }
}